<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>
    </appender>
    <appender name="logfile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <springProfile name="dev">
            <File>D://temp//auth.log</File>
        </springProfile>
        <springProfile name="test">
            <File>D://temp//auth-test.log</File>
        </springProfile>
        <springProfile name="pro">
            <File>D://temp//auth-pro.log</File>
        </springProfile>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
                %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">

            <springProfile name="dev">
                <FileNamePattern>D://temp//auth.log.%i.log.zip</FileNamePattern>
            </springProfile>
            <springProfile name="test">
                <FileNamePattern>D://temp//auth-test.log.%i.log.zip</FileNamePattern>
            </springProfile>
            <springProfile name="pro">
                <FileNamePattern>D://temp//auth-pro.log.%i.log.zip</FileNamePattern>
            </springProfile>

            <MinIndex>1</MinIndex>
            <MaxIndex>10</MaxIndex>
        </rollingPolicy>

        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>100MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <springProfile name="dev">
        <root level="DEBUG">
            <appender-ref ref="stdout"/>
            <appender-ref ref="logfile"/>
        </root>
    </springProfile>
    <springProfile name="test">
        <root level="DEBUG">
            <appender-ref ref="stdout"/>
            <appender-ref ref="logfile"/>
        </root>
    </springProfile>
    <springProfile name="pro">
        <root level="INFO">
            <appender-ref ref="stdout"/>
            <appender-ref ref="logfile"/>
        </root>
    </springProfile>


</configuration>