<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="logfile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <springProfile name="dev">
            <file>D://temp//auth.log</file>
        </springProfile>
        <springProfile name="test">
            <file>D://temp//auth-test.log</file>
        </springProfile>
        <springProfile name="pro">
            <file>D://temp//auth-pro.log</file>
        </springProfile>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
                %msg%n
            </pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">

            <springProfile name="dev">
                <fileNamePattern>D://temp//auth.log.%i.log.zip</fileNamePattern>
            </springProfile>
            <springProfile name="test">
                <fileNamePattern>D://temp//auth-test.log.%i.log.zip</fileNamePattern>
            </springProfile>
            <springProfile name="pro">
                <fileNamePattern>D://temp//auth-pro.log.%i.log.zip</fileNamePattern>
            </springProfile>

            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>

        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <springProfile name="dev">
        <root level="DEBUG">
            <appender-ref ref="stdout"/>
            <appender-ref ref="logfile"/>
        </root>
    </springProfile>
    <springProfile name="test">
        <root level="DEBUG">
            <appender-ref ref="stdout"/>
            <appender-ref ref="logfile"/>
        </root>
    </springProfile>
    <springProfile name="pro">
        <root level="INFO">
            <appender-ref ref="stdout"/>
            <appender-ref ref="logfile"/>
        </root>
    </springProfile>


</configuration>